<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de l'Atelier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Détails de l'Atelier</h1>
    <div th:if="${atelier != null}">
        <h2 th:text="${atelier.intitule}"></h2>
        <p>Description: <span th:text="${atelier.description}"></span></p>
        <p>Artisan: <span th:text="${atelier.artisan.nom}"></span></p>
        <!-- Autres détails spécifiques à l'atelier à afficher -->
		<a th:href="@{'/reserver/' + ${atelier.id}}" class="btn btn-secondary">Réserver un créneau</a>
    </div>
    <div th:if="${atelier == null}">
        <p>L'atelier spécifié n'existe pas ou n'a pas été trouvé.</p>
    </div>
    <br><br>
    <a class="btn btn-secondary" href="/ateliers">Retour à la liste des ateliers</a>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
