<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réserver un Créneau</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Réserver un Créneau</h1>
    <form action="/reservations" method="post">
	    <!-- Champs pour les détails de la réservation -->
	    <label for="dateReservation">Date de Réservation :</label>
	    <input type="datetime-local" id="dateReservation" name="dateReservation" required><br><br>
	    
	    <!-- Sélection du participant -->
	    <label for="participant">Participant :</label>
	    <select name="participantId" id="participantId">
	        <option th:each="participant : ${participants}" th:value="${participant.id}" th:text="${participant.nom}"></option>
	    </select><br><br>
	    <input type="hidden" name="atelierId" th:value="${atelier.id}">
	
	    <!-- Ajoutez d'autres champs selon vos besoins -->
	    
	    <input type="submit" value="Réserver">
	    <button type="button" onclick="window.history.back()">Annuler</button>
	    <br><br>
	    <a th:href="@{/ateliers/{id}(id=${atelier.id})}" class="btn btn-secondary">Retour aux détails de l'atelier</a>
	</form>
	
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
