<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de l'Artisan</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

<!-- Barre de navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Atelier Artisanal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/ateliers">Ateliers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/participants">Participants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/reservations">Réservations</a>
      </li>
    </ul>
  </div>
</nav>

<h1>Détails de l'Artisan</h1>
<div>
    <h2 th:text="${artisan.nom} + ' ' + ${artisan.prenom}"></h2>
    <p>Domaine: <span th:text="${artisan.domaine}"></span></p>
    <!-- Ajoutez d'autres détails ou actions selon vos besoins -->
</div>

<!-- Liens vers les scripts JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
