/* styles.css */

/* Réinitialisation des marges et des rembourrages */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Style de base pour le corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* En-tête */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Liens */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Liste */
ul {
    list-style-type: none;
}

/* Éléments de liste */
li {
    margin-bottom: 20px;
}

/* Formulaire */
form {
    margin-top: 20px;
}

input[type="text"], input[type="datetime-local"], input[type="submit"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


/* Pied de page */
footer {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

/* backround color */
body {
	background-color: lightskyblue;
}

