<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de la Réservation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Détails de la Réservation</h1>
    <p>Résumé de la réservation :</p>
    <ul>
        <li>Id: <span th:text="${reservation.id}"></span></li>
        <li>Date de réservation: <span th:text="${reservation.dateReservation}"></span></li>
        <!-- Ajoutez d'autres détails de la réservation selon vos besoins -->
    </ul>
    <!-- Ajoutez d'autres informations ou actions selon vos besoins -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
