<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails du Participant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Détails du Participant</h1>
    <div th:if="${participant != null}">
        <p>Nom: <span th:text="${participant.nom}"></span></p>
        <p>Prénom: <span th:text="${participant.prenom}"></span></p>
        <!-- Autres détails spécifiques du participant à afficher -->
    </div>
    <div th:if="${participant == null}">
        <p>Le participant spécifié n'existe pas ou n'a pas été trouvé.</p>
    </div>
    <a class="btn btn-secondary" href="/participants">Retour à la liste des participants</a>
    
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
